@import url("/global.style.css");

p, h3 {
  margin: 0;
  color: var(--muted-foreground);
  font-size: var(--fsize-sm);
  font-weight: var(--fw-normal);
}

#menu {
  margin: 0 0 0 auto;
}

.logo {
  padding: 0.32944rem 0.34025rem 0.33331rem 0.32944rem;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.nav-menu-item {
  display: flex;
  padding: 1.5rem;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 0.5rem;
}

.nav-menu-item:hover {
  background-color: var(--accent);
}

.divider {
  background-color: var(--border);
  height: 1px;
}

.store {
  gap: 1rem;
  background: var(--muted);
}

h3 {
  color: var(--foreground);
  font-size: var(--fsize-base);
  font-weight: var(--fw-medium);
}