@import url("/global.style.css");

p {
  color: var(--muted-foreground);
  font-size: var(--fsize-sm);
  font-weight: var(--fw-normal);
}

h1, h3, p {
  margin: 0;
}

h3 {
  color: var(--primary-foreground);
  font-size: var(--fsize-base);
  font-weight: var(--fw-medium);
}

.container {
  background-color: var(--primary);
}

.logo {
  padding: 0.32944rem 0.34025rem 0.33331rem 0.32944rem;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75rem;
}

.nav-menu-item {
  display: flex;
  flex-direction: column;
  padding: 1rem 0.75rem;
  align-items: flex-start;
  width: 100%;
  color: var(--primary-foreground);
  border-radius: 0.5rem;
  gap: 0.25rem;
}

.nav-menu-item:hover {
  background-color: var(--hover-primary);
}

.divider {
  height: 1px;
  width: 100%;
  background-color: var(--border);
}

#heading {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}

.avatar {
  width: 6.25rem;
  height: 6.25rem;
  color: var(--muted-foreground, #64748B);
  font-size: var(--fsize-xl);
  font-weight: var(--fw-normal);
}

.manager-info {
  text-align: center;
}

h1 {
  color: var(--primary-foreground);
}