@import url("/global.style.css");

body {
	margin: 0;
	max-width: calc(100% - 3vh);
}

tbody {
	width: 100%;
}

th,
td {
	text-align: left;
	border-bottom: 1px solid var(--border);
}

td {
	min-width: 10.9375rem;
	height: 3.5rem;
	padding: 0 0.75rem;
	font-size: var(--fsize-sm);

	div {
		display: flex;
		align-items: center;
		gap: 0.75rem;
	}
}

th {
	color: var(--muted-foreground);
	font-weight: var(--fw-medium);
	padding: 0.75rem 1rem;
}

th span {
	margin: 0 0 0 0.5rem;
}

table {
	width: 100%;
}

.table-container {
	position: relative;
	overflow: hidden;
}

.table-container tbody {
	display: block;
	max-height: 30vh;
	overflow-y: auto;
}

.table-container thead,
.table-container tbody tr {
	display: table;
	width: 100%;
	table-layout: fixed;
}

.table-container tfoot {
	display: table;
	width: 100%;
}

tfoot {
	td {
		justify-content: space-between;
		align-items: center;
		background-color: var(--bg-muted-50);
		color: var(--foreground);
		font-size: var(--fsize-sm);
		font-weight: var(--fw-medium);
	}

	.caption {
		text-align: center;
		color: var(--muted-foreground);
		font-weight: var(--fw-normal);
	}
}

.status {
	padding: 0.25rem 0.75rem;
	border-radius: 624.9375rem;
	font-weight: var(--fw-semibold);
	color: var(--primary-foreground);
	text-transform: capitalize;
	display: inline-block;
	min-width: 85px;
	text-align: center;
	line-height: 1;
}

.yellow {
	background-color: #FDE047;

	&.active {
		background: #EAB308;
	}
}

.green {
	background-color: #BEF264;

	&.active {
		background: #84CC16;
	}
}

.red {
	background-color: #F87171;

	&.active {
		background: #DC2626;
	}
}

.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.3s ease, visibility 0.3s ease;
}

.modal-content {
	border-radius: 1.5rem 1.5rem 0 0;
	background: var(--card);
	padding: 1.75rem 1.75rem 2.5rem 1.75rem;
	position: fixed;
	bottom: 0;
	width: 100%;
	max-width: 100%;
	transform: translateY(100%);
	transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.show {
	visibility: visible;
	opacity: 1;
	background: rgba(0, 0, 0, 0.5);
}

.modal-overlay.show .modal-content {
	transform: translateY(0);
}

.m-body {
	display: flex;
	flex-direction: column;
	gap: 0.625rem;
}

.label {
	display: block;
	font-size: var(--fsize-base);
	font-weight: var(--fw-medium);
	margin: 0 0 0.5rem 0;
}

.input,
textarea {
	width: 100%;
	padding: 0.625rem 0.75rem;
	border-radius: 0.375rem;
	border: 1px solid var(--input);
	background: var(--background);
	margin: 0 0 0.5rem 0;
}

.input-container {
	display: flex;
	flex-direction: column;
}

.select {
	border: 1px solid var(--input);
}

.badge-selector {
	display: flex;
	gap: 0.625rem;
	justify-content: center;
}

.badge {
	padding: 0.125rem 0.75rem;
	gap: 0.625rem;
	border-radius: 624.9375rem;
	border: 1px solid var(--border);
	color: var(--foreground);
	font-size: var(--fsize-xs);
	font-weight: var(--fw-semibold);

	&.active {
		background-color: var(--primary);
		color: var(--primary-foreground);
	}
}

.badge-status {
	padding: 0.125rem 0.75rem;
	gap: 0.625rem;
	border-radius: 624.9375rem;
	border: 1px solid var(--border);
	color: var(--secondary);
	font-size: var(--fsize-xs);
	font-weight: var(--fw-semibold);
}

.char-count {
	color: var(--foreground);
	font-size: var(--fsize-sm);
	font-weight: var(--fw-normal);
}

.m-header {
	margin: 1.5rem 0 0 0;
}