@import url("../global.style.css");

.label {
  display: block;
  font-size: var(--fsize-base);
  font-weight: var(--fw-medium);
  margin: 0 0 0.5rem 0;
}

.input {
  width: 100%;
  padding: 0.625rem 0.75rem;
  border-radius: 0.375rem;
  border: 1px solid var(--input);
  background: var(--background);
  margin: 0 0 0.5rem 0;
}

.hint {
  display: block;
  color: var(--muted-foreground);
  font-size: var(--fsize-sm);
  font-weight: var(--fw-normal);
  margin: 0 0 1rem 0;
}