@import url("/global.style.css");

h1 {
  color: var(--primary-foreground)
}

h3 {
  font-size: var(--fsize-base);
  font-weight: var(--fw-medium);
}

p, h3, h1{
  margin: 0;
}

.container {
  background-color: var(--primary);
}

.nav-menu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75rem;
}

.nav-menu-item {
  display: flex;
  padding: 1rem 0.75rem;
  align-items: flex-start;
  width: 100%;
  color: var(--primary-foreground);
  border-radius: 0.5rem;
  gap: 0.25rem;
}

.nav-menu-item:hover {
  background-color: var(--hover-primary);
}

.divider {
  height: 1px;
  width: 100%;
  background-color: var(--border);
}