@import url("/global.style.css");

body {
    margin: 0;
    width: 100%;
    padding: 4vh;
    display: flex;
    flex-direction: column;
    gap: 6vh;

    main {
        display: flex;
        flex-direction: column;
        gap: 4vh;

        #heading {
            padding: 0;
            margin: 0 !important;
        }

        .items {
            display: flex;
            flex-direction: column;
            gap: 2vh;

            .item {
                padding: 2vh 0;
                border-bottom: 1px solid #E2E8F0;
                h4 {
                   font-weight: 300; 
                }
                .item-header {
                    display: flex;
                    align-items: center;
                    gap: 8px;

                    .info-icon {
                        color: #64748B;
                        flex-shrink: 0;
                        width: 16px;
                        height: 16px;
                    }
                }

                p {
                    color: gray;
                    margin-left: calc(16px + 8px);
                    font-size: .8rem;
                }
            }

            .item:last-child {
                border-bottom: none;
            }
        }

        button {
            background-color: rgb(14, 23, 42);
            border: none;
            color: white;
            padding: 2vh;
            width: 100%;
            font-size: 1rem;
            border-radius: 6px;
            cursor: pointer;
            transition: background-color 0.2s;

            &:hover:not(:disabled) {
                background-color: rgb(30, 41, 59);
            }

            &:disabled,
            &.disabled {
                background-color: #E2E8F0;
                color: #94A3B8;
                cursor: not-allowed;
            }
        }
    }
}